.body {
  margin-top: 25px;
  .intro {
    max-width: 500px;
    text-align: center;
    margin: 0 auto;
    line-height: 2;
    font-size: 17px;
    span > b {
      background-color: #e8e8e8;
    }
    padding-bottom: 25px;
    border-bottom: 1px solid#C6DEFF;
  }
}

.menu {
  max-width: 300px;
}

#app {
  .subtitle {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .icon {
      margin: 0 15px;
    }
  }

  header {
    margin-top: 18vh;
    .header-top {
      display: flex;
      flex-direction: column;
      align-items: center;
      .title {
        margin-bottom: 40px;
        letter-spacing: 3px;
        animation: top-header-move 0.7s ease-out;
      }
      .subtitle {
        animation: top-header-move 0.7s ease-out 0.5s;
        animation-fill-mode: backwards;
      }
      .icon {
        animation: fade-in 1s ease-in 0.5s;
        animation-fill-mode: backwards;
      }
      span + span {
        margin-left: 20px;
      }
      a {
        color: #4a4a4a;
        &:hover {
          color: #c6deff;
        }
      }
    }
  }

  footer {
    max-width: 500px;
    font-size: 12px;
    margin: 0 auto;
    text-align: center;
    margin-top: 50px;
  }
}

@keyframes top-header-move {
  0% {
    opacity: 0;
    transform: translateY(-30px);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
